@use "css/variables.scss";

.osd {
  margin: 20px;
  padding: 0px;

  .osd-popup-view {
    border-radius: 8px;
    background-color: variables.$bg;
    padding: 20px;
  }

  image {
    padding-right: 8px;
  }

  label {
    font-size: 24px;
  }

  levelbar {
    trough {
      margin: 4px;
    }

    block {
      min-height: 3px;
    }
  }
}
